/pkgs
/data_processing/data/
/wandb
/gamba/__pycache__
/clean_dcps/
/clean_caduceus_dcps/
/dcps/
/plot-caduceus-UCNE/
/plot-CE-loss/
/scaling-experiments/
/mica@killarney.alliancecan.ca
/other-models/